p.loading
{
    color: red;
}

div.hero-index
{
    margin-top: 30px;
    height: 300px;
}

div.hero-play
{
    
    height: 200px;
}

p.vert-middle
{
    vertical-align: middle;
}

button.btn-go
{
    padding-left: 40px;
    padding-right: 40px;
}

input.long-input
{
    width: 300px;
}

p.error
{
	color: red;
	margin-top: 80px;
}

p.no-links
{
	color: red;
}

p.desc
{
	font-style: italic;
	font-size: 14px;
	line-height: 20px;
}

img.loadgif
{
	height: 20px;
	width: 20px;
}

h1.play
{
	margin-top: 100px;
}